
  
  *{margin:0; padding:0;box-sizing: border-box;overflow:visible!important;}

/* .container-fluid{
  height:4rem !important
} */

.high{
  height:3rem
}

  
  .navbar-brand{

    color: rgb(237, 59, 19)! important;
  }

/* TaskTable */

.taskTable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 margin:4rem 2rem 0 2rem;
 height:auto;
 text-align: center;

 
}
Table{
  width:5rem
}



.taskTable h1{

  margin-top: 3rem;
  color:blue;
 
}


                                    
.pb{
  margin:2rem
}

.row1{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.row1 button{
  margin:2rem 2rem 2rem 2rem
}

Form{
  width:80%
}



